name: CI Workflow

on: 
  push:
    branches: 
      - main  # Replace with your branch name if different

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'  # Specify the Python version you prefer
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip  # Upgrade pip
          pip install pytest  # Install pytest
      - name: Run Python Tests
        run: pytest test_calc.py  # This runs your test
